<% content_for :title, "Carrinho" %>

<%= render "shared/back_button", path: root_path %>

<h1 class="text-2xl font-semibold mb-6 text-vdc-primary">Meu carrinho</h1>

<div id="cart-items">
  <%= render "items", cart_availabilities: @cart_availabilities %>
</div>
