<% if object.errors.any? %>
  <div class="form-errors">
    <ul class="list-disc list-inside flex flex-col gap-1">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
